@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spline+Sans+Mono:ital,wght@0,300..700;1,300..700&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

body{
    /* font-family: 'Inter', sans-serif; */
    font-family: 'Spline Sans Mono', monospace;
    font-weight: 400;
}

.delete-cinema{
    font-size: 1rem;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 1rem;
    margin-right: 1rem;
    cursor: pointer;
}
.text-themed{
    background: -webkit-linear-gradient(215deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(253, 41, 32, 1) 54%, rgba(252, 176, 69, 1) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.input-themed{
    border-color: rgb(131,58,180);
    /* background: linear-gradient(135deg, rgba(131,58,180,0.3) 0%, rgba(253,29,29,0.3) 50%, rgba(253,41,32,0.3) 54%, rgba(252,176,69,0.3) 100%); */
}
.btn-outline-themed{
    border-color: rgb(131,58,180);
    background-color: rgba(252,176,69);
    --bs-btn-color: #ffffff;
    --bs-btn-border-color: #6c757d;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #6c757d;
    --bs-btn-hover-border-color: #ffffff;
    --bs-btn-focus-shadow-rgb: 108, 117, 125;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #6c757d;
    --bs-btn-active-border-color: #2681d1;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #6c757d;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #6c757d;
    --bs-gradient: linear-gradient(285deg, rgba(131,58,180,0.3) 0%, rgba(253,29,29,0.3) 50%, rgba(253,41,32,0.3) 54%, rgba(252,176,69,0.3) 100%);
}
.form-control:focus {
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(252,176,69,0.25)
}
/* .modal-content{
    border-width: 5px;
    border-style: solid;
    border-radius: 0px;
    border-image: linear-gradient(65deg, rgba(131,58,180,0.3) 0%, rgba(253,29,29,0.3) 50%, rgba(253,41,32,0.3) 54%, rgba(252,176,69,0.3) 100%) 1;
} */

.modal-content .btn-themed{
    background: linear-gradient(195deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 0.3) 50%, rgba(253, 41, 32, 1) 54%, rgba(252, 176, 69, 1) 100%);
}

.cinemas-list{
    font-size: 2rem;
}
.btn-themed{
    /* background: #654ea3;  fallback for old browsers */
    background: linear-gradient(135deg, rgba(131,58,180,1) 0%, rgba(253,29,29,0.3) 50%, rgba(253,41,32,1) 54%, rgba(252,176,69,1) 100%);
    border: none;
    font-weight: 600;
    color: #fff
}
